
html, body {
    Height: 100%;
    width: 100%;

}
body {
    font-family: 'Lato', sans-serif;
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: #333;
    min-width: 960px;
    display: flex;
    flex-flow: column nowrap;


}
body h1 {
    font-family: 'Courgette', cursive;

    text-align: center;
    font-size: 5em;
    color: #ffffff;

}

.intro {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;

}
h2 {
    margin:1.5rem;
    color: #ffffff;
}

h3 {
    margin: 1rem;
    color: #7c7c7c;
}

h6 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.3em;
    color: #7c7c7c;

}
/*portionnage*/


.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
  .container{
    margin: 2rem 8rem 2rem 8rem ;
    background: #b2d1d1;
    padding: 2rem 2rem 2.5rem 2rem ;
    font-size: medium;
    text-align: center;
  }
  